<div class="errorPageMessage">
    <h2>Coś źle pokombinowane, spróbuj jeszcze raz, albo wróc do głównej i daj se spokój</h2>
    <p>Jeśli uważasz, że powinno tu być coś innego, to skontatktuj się mailowo z jakimś adminem, docenimy.</p>
</div>
<button type="button" class="btn btn-default .btn-sm" onclick="location.href = '@Url.Action("Index", "Articles")'">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="font-size: 1.1em"></span>DO GÓRY
</button>