@using React.AspNet
@model ComX_0._0._2.Views.Articles.Models.DtoModels.SideBarDetailsDto
    @Html.React("SideBarReact", new {model = Model})
    <div id="fb-root"></div>
    <script>
        $(document).ready(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8&appId=1780363828875340";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        });
    </script>

    @*SCRIPTS FOR VIEW*@
    <script type="text/javascript" src="~/Views/Shared/Scripts/SharedSideBar.js"></script>
    <link href="~/Views/Shared/Styles/_SideBar.css" rel="stylesheet" type="text/css" />
