@using ComX_0._0._2.Helpers
@{
    ArticleHelper articleHelper = new ArticleHelper();
    var currentArticle = Request.Params["Id"];
    var randomPosts = articleHelper.GetRandomArticlesForSideBar(5, currentArticle != null ? new Guid(currentArticle) : Guid.Empty);
}
<div class="sideBar" style="width: 30%; float: right; font-size: 1.6em; font-family: 'Amarante', sans-serif; color: #2B823C; ">
    <div class="plazlistSide" style="margin-bottom: 1em; background-color: #222;box-shadow: 0 2px 4px 0 #222222, 0 3px 10px 0 whitesmoke;">
        <div class="sideTitle" style="text-align: left; padding-left: 1em;">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Plazlista:
        </div>
            <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ahellthroaster666%3Aplaylist%3A0MlNCcihg1bZkbaFp4pVwJ" style="width: 100%; height: 15em; overflow: hidden;" frameborder="0" allowtransparency="true"></iframe>
    </div>
        <div class="faceWidget" style="width: 100%; padding-left: 1em; margin-bottom: 1em; background-color: #222;box-shadow: 0 2px 4px 0 #222222, 0 3px 10px 0 whitesmoke;">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Polub mnie trochę:
            <div class="fb-like" data-href="https://www.facebook.com/soundbastards/?fref=ts" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true" style="width: 100%; text-align: center; margin: 0 auto;"></div>
        </div>
        <div class="quoteDay" style="background-color: black; padding-left: 1em; padding-bottom: 1em; padding-right: 1em; margin-bottom: 1em; background-color: #222;box-shadow: 0 2px 4px 0 #222222, 0 3px 10px 0 whitesmoke;">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Cytat dnia:
            <div class="quoteBody" style="font-family: 'Times New Roman', Georgia, Serif; font-size: 0.7em; color: gray; padding: 5px; text-align: center;">
                "Najebany? To do domu!"
            </div>
        </div>
        <div clas="sideIntro" style="padding-left: 1em; padding-right: 1em; padding-bottom: 1em; margin-bottom: 1em; background-color: #222;box-shadow: 0 2px 4px 0 #222222, 0 3px 10px 0 whitesmoke;">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Po co to to:
            <div class="sideIntroBody" style="font-size: 0.7em; color: white; text-align: justify;">
                Tu ma być introdukcja gdzie będzie parę słów wstępu do portalu. Trzeba się jeszcze zastanowić, kóre miejsce będzie zajmować
                w całym sidebarze, czy na samej górze, czy na samym dole, czy też to w ogóle jest potrzebne? Może zniknie za jakiś czas, na
                razie muszę mieć więcej szitu na sidebarze.
            </div>
        </div>
        <div class="sideRandomPosts" style="padding-left: 1em; padding-right: 1em; padding-bottom: 1em; margin-bottom: 1em; background-color: #222;box-shadow: 0 2px 4px 0 #222222, 0 3px 10px 0 whitesmoke;">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Losowe posty:
            <div class="sidePostsBody" style="padding-top: 1em;">
                @foreach (var item in randomPosts)
            {
                    <a href="@Url.Action("Details", "Articles", new {@id = item.Id})">
                        <div class="sideArt" style="display: block; width: 100%; height: 3em; padding-bottom: 1em;">
                            @if (articleHelper.GetImageByArticleId(item.Id) != null)
                            {
                                <div class="sidebarArticleImage" style="width: 30%; height: 100%; float: left; text-align: center; margin: 0 auto;">
                                    <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="max-width: 100%; max-height: 100%;" />
                                </div>
                            }
                            <div class="sidebarRandomArtBody" style="float: right; width: 70%; font-size: 0.6em;">
                                <p>@item.Name</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $(".sideRandomPosts").sticky({ topSpacing: 55, zIndex: 4 });
    });
</script>
