@using ComX_0._0._2.Helpers
@using Microsoft.AspNet.Identity
@{
    UserHelper userHelper = new UserHelper();
    GeneralHelper generalHelper = new GeneralHelper();
    var currentUrl = generalHelper.GetCurrentPageUrl();
}
<div class="container logoSection">
    <div class="logo">
        <a href="@Url.Action("Index", "Articles")">
            <img src='~/Content/images/logoWhite.jpg' />
        </a>
    </div>
    <div class="rightLogoPanel">
        <div class="logoMenu">
            @if (userHelper.IsAdminUser(User))
            {
                <div class="logoConfiguration logoComponent">
                    <a class="topLogoLastAnchor logoComponentAnchor" href="@Url.Action("Articles", "Configuration")">
                        <div class="logoComponentIcon">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </div>
                        <div class="logoComponentText">
                            KONFIGURACJA
                        </div>
                    </a>
                </div>
            }
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="logoUserPanel logoComponent">
                        <a class="topLogoLastAnchor logoComponentAnchor" href="@Url.Action("UserPanel", "Account")">
                            <div class="logoComponentIcon">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                            <div class="logoComponentText">
                                PROFIL
                            </div>
                        </a>
                    </div>
                    <div class="logoLogout logoComponent">
                        <a class="topLogoLastAnchor logoComponentAnchor" href="javascript:document.getElementById('logoutForm').submit()">
                            <div class="logoComponentIcon">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </div>
                            <div class="logoComponentText">
                                WYLOGUJ
                            </div>
                        </a>
                    </div>
                }
            }
            else {
                <div class="logoRegistration logoComponent">
                    <a class="topLogoLastAnchor popupRegisterModal logoComponentAnchor" href="#login-modal">
                        <div class="logoComponentIcon">
                            <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        </div>
                        <div class="logoComponentText">
                            ZAREJESTRUJ
                        </div>
                    </a>
                </div>
                <div class="logoLogin logoComponent">
                    <a class="topLogoLastAnchor popupLoginModal logoComponentAnchor" href="#login-modal">
                        <div class="logoComponentIcon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="logoComponentText">
                            ZALOGUJ
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div id="login-modal" class="mfp-hide white-popup wide-popup">
    <a class="popupClose"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    <div id="loader"><img src="../../Content/images/loader.gif" /></div>
    <div class="loginContentInModal"></div>
</div>


@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Shared/Scripts/SharedTopLogoPanel.js"></script>
<link href="~/Views/Shared/Styles/_TopLogoPanel.css" rel="stylesheet" type="text/css" />

