<div class="maintenanceImage">
    <img src='@Url.Content("~/Content/images/maintenanceImage.jpg")' style="width: 100%; text-align: center; margin: 0 auto; z-index: 0; vertical-align: middle;" />
</div>
