@using ComX_0._0._2.Helpers
@{
    ViewBag.Title = "Panel użytkownika";
    Layout = "~/Views/Account/_Account.cshtml";
    UserHelper userHelper = new UserHelper();
}
<div class="userContainer">
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Profil", "UserPanel", "Account")</li>
        @if (userHelper.IsSameUserScreenByUrl()) {
            <li>@Html.ActionLink("Wiadomości prywatne", "Messages", "Account")</li>
        }
    </ul>
    <div class="container body-content bodyLayout">
        @RenderBody()
        <div class="push"></div>
    </div>
</div>
