@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Account/_Account.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dzięki za potwierdzenie rejestracji, Serdeńko! Teraz już bez ciśnień możesz się @Html.ActionLink("zalogować.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
