@{
    ViewBag.Title = "Nie udało się zalogować!";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Nieudane logowanie za pomocą pejsbuka, zgłoś albo spróbuj tradycyjną drogą.</h3>
</hgroup>
