@{
    ViewBag.Title = "Potwierdzam wysłanie mejla z linkiem do resetacji hasła!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Sprawdź wiadomość mejlową z procedurą zmiany hasła - przed chwilą Ci wysłałem.
    </p>
</div>
	
