@using ComX_0._0._2.Helpers
@using React.AspNet
@model IEnumerable<ComX_0._0._2.Views.Account.Models.DtoModels.MessageThreadDto>
@{
    ViewBag.Title = "Prywatne wiadomości || NekroPlaza - doświadcz dobroci";
    var isAjax = Request.IsAjaxRequest();
    Layout = isAjax ? null : "~/Views/Shared/_Layout.cshtml";
    var userHelper = new UserHelper();
    var IsAdmin = userHelper.IsSuperAdminUser(User);
}
@Html.React("PrivateMessages", new { model = Model, IsAdministrator = IsAdmin })
<p class="subConcious">...the horror...the horror...</p>
<script src="~/scripts/ckeditor.js" type="text/javascript"></script>
<script>
    var config = {
        BtnSendMessageInThread: "btnSendMessageInThread",
        BtnSendMessageNewThread: "btnSendMessageNewThread",
        BtnConfirmSendMessage: "btnConfirmSendMessage",
        BtnCancelSendMessage: "btnCancelSendMessage",
        BtnMessageSendConfirmation: "btnMessageSendConfirmation",
        ThreadsContainer: "threadsContainer",
        ThreadElementNode: "threadElementNode",
        ThreadElementButtons: "threadElementButtons",
        ThreadElementContainer: "threadElementContainer",
        ThreadElementNotificator: "threadElementNotificator",
        MessageElementContainer: "messageElementContainer",
        SendMessageContainer: "sendMessageContainer",
        MainMessagesContainer: "mainMessagesContainer",
        EditPrivateMessageTitle: "editPrivateMessageTitle",
        EditPrivateMessageContainer: "editPrivateMessageContainer",
        EditErrorMessage: "editErrorMessage",
        PopupSendMessageGet: "popupSendMessageGet",
        TopLogoPanel: "topLogoPanel",
        MessageElementAuthor: "messageElementAuthor"
    };
    new AccountMessages(config);
</script>



