@using ComX_0._0._2.Helpers
@using React.AspNet
@model ComX_0._0._2.Views.Account.Models.DtoModels.UserProfileDto
@{
    ViewBag.Title = "User Panel";
    var isAjax = Request.IsAjaxRequest();
    Layout = isAjax ? null : "~/Views/Shared/_Layout.cshtml";
    var userHelper = new UserHelper();
    var IsAdmin = userHelper.IsSuperAdminUser(User);
}
@Html.React("UserProfile", new { model = Model, IsAdministrator = IsAdmin })
<p class="subConcious">...the horror...the horror...</p>
<script src="~/scripts/ckeditor.js" type="text/javascript"></script>
<script src="~/Views/Account/Scripts/AccountUserPanel.js" type="text/javascript"></script>

