@using ComX_0._0._2.Helpers
@using React.AspNet
@model ComX_0._0._2.Views.Account.Models.DtoModels.UserProfileDto
@{
    ViewBag.Title = string.Format("Profil {0} || NekroPlaza - doświadcz dobroci", Model.UserName);
    var isAjax = Request.IsAjaxRequest();
    Layout = isAjax ? null : "~/Views/Shared/_Layout.cshtml";
    var userHelper = new UserHelper();
    var IsAdmin = userHelper.IsSuperAdminUser(User);
}
@Html.React("UserProfile", new { model = Model, IsAdministrator = IsAdmin })
<p class="subConcious">...the horror...the horror...</p>
<script src="~/scripts/ckeditor.js" type="text/javascript"></script>
<script>
    var config = {
        ReconfirmationLink: 'reconfirmationLink',
        MessageSuccessModalAnchor: "messageSuccessModalAnchor",
        MessageSuccessModal1: "messageSuccessModal1",
        PopupUserDelete: "popupUserDelete",
        PopupUserBlock: "popupUserBlock",
        PopupUserDegrade: "popupUserDegrade",
        ProfileEditDetails: "profileEditDetails",
        PopupEditProfile: "popupEditProfile",
        PopupAvatarDelete: "popupAvatarDelete",
        UserProfileMailAdress: "userProfileMailAdress",
        UserProfileOwnSection: "userProfileOwnSection",
        SucMessageAjaxConfirmationCode: "sucMessageAjaxConfirmationCode",
        AddUserRangeSubmitButton: "addUserRangeSubmitButton",
        ProfileContainer: "profileContainer",
        BtnMessageSendConfirmation: "btnMessageSendConfirmation",
        BtnConfirmDeletion: "btnConfirmDeletion",
        BtnConfirmDegradation: "btnConfirmDegradation",
        SendPrivateMessage: "sendPrivateMessage",
        BtnCancelSendMessage: "btnCancelSendMessage",
        BtnConfirmEdit: "btnConfirmEdit",
        BtnConfirmSendMessage: "btnConfirmSendMessage",
        BtnConfirmDeletionAvatar: "btnConfirmDeletionAvatar",
        UserProfileAvatarUp: "userProfileAvatarUp",
        EditErrorMessage: "editErrorMessage",
        AvUpFormContainer: "avUpFormContainer",
        ShutNekroPop: "shutNekroPop",
        PopupSendMessageGet: "popupSendMessageGet",
        ModalPopupButtons: "modalPopupButtons",
        SendMessageContainer: "sendMessageContainer",
        EditPrivateMessageTitle: "editPrivateMessageTitle",
        EditErrorContainer: 'editErrorContainer'
    };
    new AccountUserPanel(config);
</script>

