@using ComX_0._0._2.Helpers
@using React.AspNet
@model ComX_0._0._2.Views.Account.Models.DtoModels.UserProfileDto
@{
    ViewBag.Title = "User Panel";
    Layout = "~/Views/Account/_UserPanel.cshtml";
    var userHelper = new UserHelper();
    var IsAdmin = userHelper.IsSuperAdminUser(User);
}
@Html.React("UserProfile", new { model = Model, IsAdministrator = IsAdmin })
<p class="subConcious">...the horror...the horror...</p>

