@{
    ViewBag.Title = "Potwierdzenie resetacji hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Zresetowałem Twoje hasło jak młody buk. Teraz możesz spróbować się @Html.ActionLink("zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
