@using ComX_0._0._2.Helpers
@model ComX_0._0._2.Views.Account.Models.DtoModels.UserMessageDto
@{
    ViewBag.Title = "UserMailBox";
    Layout = "~/Views/Configuration/_Configuration.cshtml";
}

<h2>UserMailBox</h2>

