body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #222;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.bodyLayout {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #DAE5E8;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 3em;
    padding-top: 2em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.pageFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    height: 3em;
}

