body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #222 !important;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

img {
    /*image-orientation: from-image;*/
}

/* Set padding to keep content from hitting the edges */
.bodyLayout {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 3em;
    padding-top: 2em;
    /*box-shadow: 0 2px 4px 0 white, 0 3px 10px 0 whitesmoke;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*INDEX SLIDER*/

.slideElementDown {
    border-top: 0.7em solid black;
    border-bottom: 0.7em solid black
}

.slideElementDown:hover {
    border-top: 0.7em solid white;
    border-bottom: 0.7em solid white;
}

.sliderLink {
    color: white;
}

.sliderLink:hover {
    color: crimson;
}

.sliderLink:hover hr {
    border-color: crimson;
}



/* INDEX PAGINATION*/

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	font-size: 16px;
	background-color:#222;
    border-radius: 5px;
}

.page_navigation a:hover {
    text-decoration:none;
    color: red;
}

.active_page{
	background-color:white !important;
    border: solid black 1px;
	color:black !important;
    text-decoration:none;
}

/* INDEX ARTICLES*/

.singleIndexArticle {
    box-shadow: 0 2px 4px 0 #222222, 0 3px 10px 0 whitesmoke;
    width: 31.5%;
    overflow: hidden;
    font-family: 'Amarante', sans-serif;
}

.singleIndexArticle a:hover {
    text-decoration: none;
    outline: 0;
}

.indexArticleImage {
    width: 100%;
}

.indexArticleText {
    padding-left: 1em;  
    padding-right: 1em;
}

.indexArticleTitle { 
}
.indexArticleTitle h2 {
    font-size: 1.3em !important;
}

.indexArticleDate {
    font-size: 0.8em;
}

.indexArticleBody {
    text-align: justify;
    text-indent: 0.9em;
}

.indexArticleFooter {
    background-color: black;
    color: white;
    width: 30%;
    float: right;
    border-radius: 30px 0 0 0;
    text-align: center;
    max-height: 1.5em;
    min-width: 6em;
    font-size: 1em;
}

/* ARTICLE DETAILS*/

/* COMMENT SECTION */

.addedCommentsSection {
    box-shadow: 0 2px 4px 0 #222222, 0 3px 10px 0 whitesmoke;
    height: auto;
    width: 100%;
}

.singleCommentSection {
    width: 80%; 
    /*height: 100%;*/ 
    border: 2px solid #222; 
    margin: 0 auto;
}

/* FOOTERS */

.topFooter {
    background-color: black !important;
}

.bottomFooter {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    height: 3em;
}

.bottomFooter:hover {
    color: red;
}

.bottomFooter p {
    padding-top: 0.7em;
}

/*USER PANEL*/
.userPanelContainer {
    font-family: 'Amarante', sans-serif;
}