body {
    padding-bottom: 20px;
    background-color: #222 !important;
    min-height: 100%;
    min-width: 900px;
    height: auto !important;
    height: 100%;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.bodyLayout {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 3em;
    padding-top: 0;
    /*box-shadow: 0 2px 4px 0 white, 0 3px 10px 0 whitesmoke;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    outline: 0 !important;
}

/*popup buttons from configuration*/
.popupCategoryDelete, .popupRoleDelete, .popupSeriesDelete, .popupUserDelete {
    padding-top: 1em; 
    padding-right: 1em;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

/*INDEX SLIDER*/
.sliderArticleCategories > p {
    white-space: nowrap;
}
.slideElementDown {
    border-top: 0.7em solid black;
    border-bottom: 0.7em solid black
}

.slideElementDown:hover {
    border-top: 0.7em solid #2B823C;
    border-bottom: 0.7em solid #2B823C;
    cursor: pointer;
}

.sliderLink {
    color: white;
}

.sliderLink:hover {
    color: #2B823C;
}

.sliderLink:hover hr {
    border-color: crimson;
}



/* INDEX PAGINATION*/

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	font-size: 16px;
	background-color:#222;
}

.page_navigation a:hover {
    text-decoration:none;
    background-color:  #2B823C;
    color: white;
}

.active_page{
	background-color:white !important;
    border: solid black 1px;
	color:black !important;
    text-decoration:none;
}

/* INDEX ARTICLES*/

.singleIndexArticle {
    box-shadow: 0 2px 4px 0 #222222, 0 3px 10px 0 whitesmoke;
    width: 31.5%;
    overflow: hidden;
    font-family: 'Amarante', sans-serif;
}

.singleIndexArticle a:hover {
    text-decoration: none;
    outline: 0;
}

.indexArticleImage {
    width: 100%;
}

.indexArticleText {
    padding-left: 1em;  
    padding-right: 1em;
}

.indexArticleTitle { 
}
.indexArticleTitle h2 {
    font-size: 1.3em !important;
}

.singleIndexAnchor {
    text-decoration: none;
    outline: 0;
    color: black !important;
}

.singleIndexAnchor:hover {
    text-decoration: none;
    outline: 0;  
}

.singleIndexAnchor:hover .singleIndexTitle{
    color: #2B823C !important;
}

.indexArticleDate {
    font-size: 0.8em;
}

.indexArticleBody {
    text-align: justify;
    text-indent: 0.9em;
    min-height: 6em;
    font-size: 0.9em;
}

/*.indexArticleBody p {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}*/

.indexArticleFooter {
    background-color: black;
    color: white;
    width: 30%;
    float: right;
    border-radius: 30px 0 0 0;
    text-align: center;
    max-height: 1.5em;
    min-width: 6em;
    font-size: 1em;
}

/* ARTICLE DETAILS*/

.seeMoreFromCategory{
    text-decoration: none;
    outline: 0;
    color: crimson !important;
}

.seeMoreFromCategory:hover {
    color: #2B823C !important;
}

.articleDetailsBody a, .articleDetailsIntro a, .sliderArticlePrelude a, .indexArticleBody a, .readyCommentBody a, .loginContainer a {
    color: #2B823C !important;
}

/* COMMENT SECTION */

.addedCommentsSection {
    height: auto;
    width: 100%;
}

.singleCommentSection {
    width: 100%; 
    margin: 0 auto;
    padding-bottom: 2em;
}

.commentBody img {
    max-width: 90%;
}

/* FOOTERS */

.topFooter {
    background-color: black !important;
}

.bottomFooter {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    height: 3em;
}

.bottomFooter:hover {
    color: red;
    cursor: not-allowed;
}

.bottomFooter p {
    padding-top: 0.7em;
}

/*USER PANEL*/
.userPanelContainer {
    font-family: 'Amarante', sans-serif;
}

/* RETURN TO TOP ARROW */
#return-to-top {
    position: fixed;
    bottom: 5em;
    right: 5em;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: 0;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    outline: 0;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*LAst Article*/

.singleLastArticle:hover {
    border: 1px red solid;
    background-color: #222;  
    color: #2B823C !important;
}

.topMenuSingleActive {
    margin-bottom: 200px;
}
.topMenuSingleInActive {
    margin-bottom: 0;
}

/* Logo Panel*/
.rightLogoPanel ul li {
    float: right;
    font-family: 'Amarante', sans-serif;
    color: white;
}

.logoMenu li {
    display: block;
    float: right;
    height: 25px;
    width: 100%;
}

.rightLogoPanel ul li:hover {
    background: black;
}
.logoSection  a{
    text-decoration: none;
    outline: 0;
    color: white;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
}

.logoSection  a:hover {
    color: #2B823C;
    text-decoration: none;
    outline: 0;    
}

/* Top Navigation*/
.seeMoreFromCategoryTopNavigation {   
    text-decoration: none;
    outline: 0;
    color: white !important;
}

.seeMoreFromCategoryTopNavigation:hover {
    color: #2B823C!important;
    text-decoration: none;
    outline: 0;
}

.topNavigationLastAnchor {
    color: white !important;
    text-decoration: none;
    outline: 0; 
}

.topNavigationLastAnchor:hover {
    color: #222 !important;
    text-decoration: none;
    outline: 0;
}

.longEditor {
    min-height: 400px !important;
}

.singleLastArticleTopNavigation img, .detailsBannerPanel img, .sideArt img, .slideElementUpper img, .articlesIndexSingleImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rightLogoPanel .navbar-brand {
    height: auto;
}

.topPanelSingleContainer {
    background-color: crimson;
}

.maintenanceImage img {
    width: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.diaryCreateComponent {
    display: none;
}

/* RESPONSIVES */

@media screen and (max-width: 900px) { 

	.mainSideBar {
	    display: none;
	}
    .mainBodyContainer {
        width: 100% !important;
    }

    .sliderSection {
        display: none;
    }
}