@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentUrl = Request.Url?.AbsoluteUri;
}
<div class="body-content">
    <div class="mainBodyContainer">
        @RenderBody()
    </div>
    @if (!currentUrl.Contains("Create") && !currentUrl.Contains("Edit")) {
        <div class="mainSideBar">
            @Html.Action("_SideBar", new {number = 6})
        </div>
    }
    <div class="push"></div>
</div>

@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Articles/Scripts/Articles.js"></script>
<link href="~/Views/Articles/Styles/_Articles.css" rel="stylesheet" type="text/css" />