@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    string currentUrl = Request.Url?.AbsoluteUri;
}
<div class="body-content">
    <div class="mainBodyContainer">
        @RenderBody()
    </div>
    <div class="push"></div>
</div>

@*SCRIPTS FOR VIEW*@