@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentUrl = Request.Url?.AbsoluteUri;
}
<div class="body-content">
    @if (currentUrl.Contains("+")) {
        @Html.Action("_TopDetailPanel")
    }
    <div class="mainBodyContainer">
        @RenderBody()
    </div>
    @if (!currentUrl.Contains("Create") && !currentUrl.Contains("Edit")) {
        <div class="mainSideBar">
            @Html.Partial("_SideBar")
        </div>
    }
    <div class="push"></div>
</div>
<script>
    //$(document).ready(function () {
    //    var eventFired = 0;

    //    if ($(window).width() < 1120) {
    //        eventFired = 1;
    //    }
    //    if ($(window).width() < 1120) {
    //    }

    //    $(window).on('resize', function () {
    //        if (!eventFired) {
    //            if ($(window).width() < 1120) {
    //                $(".mainSideBar").css('display', 'none');
    //                $(".mainBodyContainer").css('width', '100%');
    //            } else {
    //                $(".mainSideBar").css('display', 'block');
    //                $(".mainBodyContainer").css('width', '69%');
    //            }
    //        }
    //    });
    //});

</script>

@*SCRIPTS FOR VIEW*@
<link href="~/Views/Articles/Styles/_Articles.css" rel="stylesheet" type="text/css" />