.mainBodyContainer {
    float: left; 
    width: 71.6%;

    margin-left: -1.1em;

    /*-moz-border-radius: 5px;
border-radius: 5px;*/
/*-moz-box-shadow: 6px 5px 11px black;
-webkit-box-shadow: 7px 5px 5px black;
box-shadow: 6px 5px 11px black;*/
}

.mainSideBar {
    float: right; 
    width: 31%;
    margin-right: -1.1em;
}