.mainBodyContainer {
    float: left; 
    width: 70%;

    /*-moz-border-radius: 5px;
border-radius: 5px;*/
-moz-box-shadow: 7px 5px 5px black;
-webkit-box-shadow: 7px 5px 5px black;
box-shadow: 7px 5px 5px black;
}

.mainSideBar {
    float: right; 
    width: 30%;
}