.formCenteredLastElement {
    margin: 0 auto !important;
    text-align: center !important;
    margin-bottom: 1.3em !important;
}

.editUploadedImage {
    max-width: 30%; 
    text-align: center; 
    margin: 0 auto;
}

.editArtIdInput, .editCreateInput {
    display: none;
}
