.loginContainer {
    width: 90%; 
    margin: 0 auto;
}

#loginFormCustom {
    text-align: center;
    margin: 0 auto;
}

.loginTopLabel {
    color: #2B823C;
}

.forgotPasswordLogin {
    margin: 0 auto; 
    text-align: center;
}

.loginErrorMessageContainer {
    color: red;
    display: none;
}