.resetPassContainer {
    width: 90%;
    margin: 0 auto;
}

#resetPassFormCustom {
    text-align: center;
    margin: 0 auto;
}

.resetPassTopLabel {
    color: #2B823C;
}

.resetPassErrorMessageExternal {
    color: red;
    font-size: 0.8em;
}

.resetPassTopInfo {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}