.greetUserPanel {
    float: left;
}

.userPanelButtons {
    float: right; 
    margin-top: 1em;
    text-align: right;
}

.userPanelButtons button {
    padding: 0 0.3em 0 !important;
}

.userPanelBackButton {
    font-size: 1.1em;
}

.infoUserPanel {
    padding-top: 1em; 
    padding-bottom: 1em; 
    width: 100%; 
    clear: both;
}

.userPanelAvatarContainer {
    padding-bottom: 1em;
}

.userPanelAvatarContainer img {
    max-width: 100%; 
    text-align: center; 
    margin: 0 auto;
}

.userPanelAvatarTitlesContainer {
    padding-bottom: 1em;
}

.userPanelBlockSection {
    margin: 0 auto; 
    text-align: center;
}

.subConcious {
    width: 100%; 
    margin: 0 auto; 
    text-align: center; 
    clear: both; 
    color: #C5C8C9;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.userPanelAdministratorSection {
    border-top: red 2px solid;
    padding-top: 1em;
}

.profileContainer {
    min-height: 32em;
    padding-top: 1em;
}

#popupSendMessage {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

#editPrivateMessageTitle {
    max-width: 100%;
}

.nav a {
    color: #2B823C !important;
}