@using ComX_0._0._2.Database
@using ComX_0._0._2.Helpers
@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<ComX_0._0._2.Models.Articles>
@{
    Layout = "~/Views/Configuration/_Configuration.cshtml";
    var articleHelper = new ArticleHelper();
}

<button type="button" class="btn btn-success btn-m" onclick="location.href = '@Url.Action("Create", "Articles")'">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add article
</button>

<div class="col-xs-12 center-block">
    @Html.Grid(Model).Named("articleGrid").Columns(columns =>
{
    columns.Add(o => o.Id, true);
    columns.Add(x => x.Name).SetWidth(550);
    columns.Add(x => x.IsPublished).Titled("Published").RenderValueAs(x => x.IsPublished ? "Yes" : "No").SetWidth(50);
    columns.Add(x => x.CategoryId).Titled("Category").RenderValueAs(x => articleHelper.GetAllCategories().First(o => o.Id == x.CategoryId).Name).Filterable(true).SetWidth(130);
    columns.Add(x => x.SubCategoryId).Titled("SubCategory").RenderValueAs(x => articleHelper.GetAllSubCategories().First(o => o.Id == x.SubCategoryId).Name).Filterable(true).SetWidth(130);
    columns.Add(x => x.DateCreated).Titled("Date added").SortInitialDirection(GridSortDirection.Ascending).SetWidth(180);
}).WithPaging(10).Sortable(true).Filterable(true)
</div>
<script>
    $(function () {
        pageGrids.articleGrid.onRowSelect(function (e) {
            var rowArticleId = e.row.Name;
            var name = rowArticleId.replace(" ", "+");
            window.location.href = '@Url.Action("Details", "Articles")/' + name;
        });
    });
</script>