@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<ComX_0._0._2.Models.Roles>
@{
    Layout = "~/Views/Configuration/_Configuration.cshtml";
}

<button type="button" class="btn btn-info btn-m" onclick="location.href = '@Url.Action("RolesCreate", "Configuration")'">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add role
</button>
<div class="col-xs-12 center-block">
    @Html.Grid(Model).Named("roleGrid").Columns(columns =>
{
    columns.Add(o => o.Id, true);
    columns.Add(x => x.Name).SortInitialDirection(GridSortDirection.Descending).SetWidth(200);
    columns.Add(x => x.Description).SetWidth(460);
}).WithPaging(20).Sortable(true).Filterable(true)
</div>

<script>
    $(function () {
        pageGrids.roleGrid.onRowSelect(function (e) {
            var rowRoleId = e.row.Id;
            window.location.href = '@Url.Action("RolesDetails", "Configuration")?roleId=' + rowRoleId;
        });
    });
</script>

