@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    Layout = "~/Views/Configuration/_Configuration.cshtml";
}

<button type="button" class="btn btn-info btn-m" onclick="location.href = '@Url.Action("RolesCreate", "Configuration")'">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add role
</button>
<div class="col-xs-12 center-block">
    @Html.Grid(Model).Named("roleGrid").Columns(columns => {
        columns.Add(o => o.Id, true);
        columns.Add(x => x.Name).SortInitialDirection(GridSortDirection.Descending);
    }).WithPaging(20).Sortable(true).Filterable(true)
</div>

@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Configuration/Scripts/ConfigurationRoles.js"></script>

