.topNavContainer {
    top: 0;
    width: 100%;
    background-color: #222;
    color: whitesmoke;
    height: 4em;
    z-index: 999;
}

.topNavFeaturesContainer {
    height: 100%;
    float: right;
    width: 75%;
}

.topNavLogoImage,
.topNavCategoryContainer,
.topNavSearchContainer,
.topNavUserContainer {
    height: 100%;
    float: left;
}

.topNavLogoImage {
    float: left;
    margin-left: 1em;
    height: 100%;
}

.topNavContainer p {
    /*padding-top: 0.7em;*/
    margin: 0 auto;
}

.topNavCategoryContainer {
    width: 20%;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.topNavCategoryContainer:hover{
    background-color: #2b823c;
}

.topNavCategoryItems {
    padding-top: 1em;
}

.topNavCategoryContainer span {
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 5px;
    max-width: 100%;
    text-shadow: 6px 6px 4px rgba(255,255,255,0.5);
}

.topNavSearchContainer {
    width: 50%;
    text-align: center;
    position: relative; // border: 1px white solid;
    display: flex;
}

.topNavSearchBar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.topNavSearchInput {
    box-sizing: border-box;
    padding: 14px;
    display: inline-block;
    background: 0 0;
    border: none;
    outline: 0;
    color: whitesmoke; // background: #3F3F3F;
    font-size: 1.1em;
    width: 80%;
}

.topNavUserContainer {
    width: 25%;
}

.material-icons,
.topNavSearchInput {
    float: left;
}

.material-icons {
    font-size: 48px;
    color: #878787;
}

.categoryIcon{
    text-align: center;
    color: whitesmoke !important;
    font-size: 24px !important;
    width: 100%;
}