.slidersContainer {
    width: 66%;
    float: left;
}

.sliderOne {
    background-color: #222; 
    width: 100%; 
    font-family: 'Coda', sans-serif; 
    color: white;
}

.slideElementUpper {
    height: 25em; 
    display: block;
}

.sliderLink {
    height: 100%;
}

.sliderLeft {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(34, 34, 34, 0.5)); 
    position: absolute; 
    z-index: 1; 
    width: 25%; 
    height: 100%; 
    padding-left: 1em; 
    padding-right: 1em; 
    padding-top: 1em; 
    z-index: 4;
}

.sliderArticleCategories {
    display: inline; 
    float: left;
}

.sliderArticleAuthor {
    float: right;
}

.sliderArticleSeries {
    float: left; 
    width: 100%;
}

.sliderArticleSeriesTitle {
    background-color: #2B823C; 
    color: black;
}

.sliderArticleTitle {
    float: left; 
    width: 100%;
}

.sliderArticleNameTitle {
    margin-top: 0;
}

.sliderArticleLine {
    width: 85%; 
    text-align: center; 
    margin: 0 auto; 
    clear: both;
}

.sliderArticleIndexDescription {
    text-align: justify; 
    text-indent: 1em;
}

.imageOverlayColor {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background: rgba(0, 0, 0, 0.6); 
    z-index: 2;
}

.bannerPanelImageContainer {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    background-color: black; 
    z-index: 1; 
    overflow: hidden;
}

.bannerPanelImageContainer img {
    width: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.bannerPanelImageMain {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 3; 
    overflow: hidden; 
    position: absolute; 
    top: 0;
}

.bannerPanelImageMain img {
    height:100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.sliderSection {
    background-color: #222; 
    width: 100%; 
    margin: 0 auto;
}

.slideElementDown {
    height:10em;
}

.slideElementDown img {
    width:auto; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto;
}

.bannerPanelInfo {
    max-width: 90%; 
    font-family: 'Coda', sans-serif; 
    position: absolute; 
    bottom: 1em; 
    color: black; 
    padding: 1em;
    background: rgba(255, 255, 255, 0.7); 
    z-index: 4;
}

.bannerSeriesTitle {
    background-color: #2B823C; 
    color: black;
    margin-top: 0;
    font-size: large;
}

.bannerArticleName {
    width: 100%; 
    float: left; 
    margin-top: 0;
    font-size: x-large;
}

.datesDetailsArticles {
    display: inline-block; 
    float: left; 
    clear: both;
}

.datesDetailsArticles p {
    float: left;
}

.indexDiaryContainer {
    width: 34%;
    float: right;
    background-color: black;
    height: 35em;
    margin-right: 0;
    font-family: 'Coda', sans-serif; 
}

.indexLastDiariesContainer {
    height: 50%;
}

.indexDiaryList {
    margin-left: 1em;
    margin-right: 1em;
    color: whitesmoke;
    padding-left: 1em !important;
}

.indexSingleDiaryAnchor {
    color: whitesmoke !important;
    text-decoration: none;
    outline: 0;
}

.indexSingleDiaryAnchor:hover {
    color: #2B823C !important;
    text-decoration: none;
    outline: 0;
}

.indexDiaryListHeader {
    margin-left: 1em;
    margin-right: 1em;
}

.indexDiaryLine {
    margin: 0 !important;
    border: 1px solid crimson; 
}

.indexDiaryName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seeMoreDiaries {
    color: whitesmoke !important;
}

.moreDiaries {
    padding-right: 1em;
}

.indexDisclaimer {
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}

.indexDisclaimer h3 {
    color: crimson;
}

.indexDisclaimer p {
    font-size: medium;
    color: whitesmoke;
}

.slider-progress {
  width: 100%;
  height: 3px;
  background: #eee;
  z-index: 99999;
}
.slider-progress .progress {
  width: 0%;
  height: 3px;
  background: #2B823C !important;;
}