.slidersContainer {
    /*width: 64.9%;*/
    width: 100%;
    float: left;
    height: 100%;
}

.indexSliders {
    position: relative;
    display: none;
}

.sliderOne {
    background-color: #222; 
    width: 100%; 
    font-family: 'Coda', sans-serif; 
    color: white;
    height: 100%;
}

.slideElementUpper {
    height: 100%; 
    display: block;
}

.sliderLink {
    height: 100%;
    color: white;
}

.sliderLeft {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(34, 34, 34, 0.5)); 
    position: absolute; 
    z-index: 1; 
    width: 25%; 
    height: 100%; 
    padding-left: 1em; 
    padding-right: 1em; 
    padding-top: 1em; 
    z-index: 4;
}

.sliderArticleCategories {
    display: inline; 
    float: left;
}

.sliderArticleAuthor {
    float: right;
}

.sliderArticleSeries {
    float: left; 
    width: 100%;
}

.sliderArticleSeriesTitle {
    background-color: #2B823C; 
    color: black;
}

.sliderArticleTitle {
    float: left; 
    width: 100%;
}

.sliderArticleNameTitle {
    margin-top: 0;
}

.sliderArticleLine {
    width: 85%; 
    text-align: center; 
    margin: 0 auto; 
    clear: both;
}

.sliderArticleIndexDescription {
    text-align: justify; 
    text-indent: 1em;
}

.imageOverlayColorDiary {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background: rgba(0, 0, 0, 0.6); 
    z-index: 2;
}

.bannerPanelImageContainer {
    /*width: 100%;*/ 
    height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    background-color: black; 
    z-index: 1; 
    overflow: hidden;
}

.bannerPanelImageContainer img {
    width: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.bannerPanelImageMainSlider {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 3; 
    overflow: hidden; 
    position: absolute; 
    top: 0;
}

.bannerPanelImageMainSlider img {
    height:100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.sliderSection {
    background-color: black; 
    width: 12em; 
    margin: 0 auto;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 99%;
}

.slideElementDown {
    height:25%; 
    padding: 0.5em;
    width: 100% !important;
}

.slick-list, .slick-track {
    height: 100% !important;
}

.slideElementDown:focus {
    outline: 0;
}

.slideElementDown img {
    width:100%; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto;
}

.bannerPanelInfo {
    max-width: 90%; 
    font-family: 'Coda', sans-serif; 
    position: absolute; 
    bottom: 1em; 
    color: black; 
    padding: 1em;
    background: rgba(255, 255, 255, 0.7); 
    z-index: 4;
}

.bannerSeriesTitle {
    background-color: #2B823C; 
    color: black;
    margin-top: 0;
    font-size: large;
}

.bannerArticleName {
    width: 100%; 
    float: left; 
    margin-top: 0;
    font-size: x-large;
}

.datesDetailsArticles {
    display: inline-block; 
    float: left; 
    clear: both;
}

.datesDetailsArticles p {
    float: left;
}

.sliderArticleCategories > p {
    white-space: nowrap;
}

.slideElementDown:hover {
    /*border-top: 0.7em solid #2B823C;
    border-bottom: 0.7em solid #2B823C;*/
    cursor: pointer;
}

.sliderLink:hover {
    color: #2B823C;
}

.sliderLink:hover hr {
    border-color: crimson;
}

.slick-current {
    -webkit-box-shadow: inset 0 0 20px #2B823C;
    -moz-box-shadow: inset 0 0 20px #2B823C;
    box-shadow: inset 0 0 20px #2B823C;
} 

/*PASEK POSTĘPU*/

.slider-progress {
  width: 100%;
  height: 8px;
  background: black;
  z-index: 3;
    position: absolute;
}
.slider-progress .progress {
  width: 65%;
  height: 8px;
  background: #2B823C !important;;
}