.containerTop, .sliderLatestIndexContainer {
    padding-left: 0; 
    padding-right: 0;
    margin-bottom: 1px;
}

.sliderLatestIndexContainer {
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
       -moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;
}

.containerMiddle {
    height: 100%;
}

.elementsToPush {
    position: absolute;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    /*margin-top: 159.7px;*/
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 1.4em;
}

.indexExplicitInfo {
    padding-left: 2em; 
    padding-right: 2em; 
    padding-bottom: 1em; 
    background-color: white; 
    font-family: 'Amarante', sans-serif;
    text-align: justify;
}

.warningMessageLayout {
    width: 90%; 
    margin-top: -1em; 
    padding-right: 1em;
    float: left;
}

.warningLayoutTitle {
    color: red;
}