.sideBar {
    width: 100%; 
    float: right; 
    font-family: 'Coda', sans-serif; 
    color: #2B823C;
    background-color: #000000;
}

.sideBarSection {
    margin-bottom: 1.4em;
}

.sideBarComponent {
    width: 100%;
}

.sideMenuTitle {
    border-bottom: #2b823c 1px solid;
    margin-bottom: 0.3em;
    letter-spacing: 2px;
}

.sideMenuTitle h4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.sideBody {
    display: none;
}

.sideBodySliderTitle {
    color: white;
    font-family: 'Coda', sans-serif;
    font-size: 1.1em;
    text-align: center;
    background-color: #222;
    margin-bottom:0.5em;
}

.firstSideComponent {
    border-top: none !important;
}

.sideRandomPosts {
    border-bottom: none !important;
}

.sideContactTitle {
    text-align: center; 
    padding-bottom: 0.4em;
    color: #2B823C;
    font-size: 1.2em;
    font-family: 'Eater', sans-serif;
}

.sideTitle {
    display: inline-flex;
    color: whitesmoke;
    width: 100%;
    font-family: 'Coda', sans-serif;
    padding-top: 1px;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 1);
    letter-spacing: 2px;

    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.sideTitle p, .navigatorMenuItemName {
    cursor: pointer;
    margin-bottom: 5px !important;
}

.sideTitle:hover {
    color: #2B823C;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 1);
}

.sideConfigSection {
    position: fixed;
    padding-bottom: 2em;
    bottom: 0;
}

.sideProfileAnchor:hover {
    color: whitesmoke !important;
}

.sideBarProfileComponent:hover img{
    border: 2px solid #2b823c !important;
}

.sideTitle:hover > p > span {
    padding-right: 1em;
}

.sidePlazlistTitle {
    font-family: 'Bangers', cursive; 
    text-align: center; 
    margin: 0 auto;
}

.sidePlazlistWidget {
    width: 100%; 
    height: 15em; 
    overflow: hidden;
}

.sideLastCommentsBody {
    font-size: 0.8em !important; 
    color: black; 
    text-align: justify; 
    font-family: 'Coda', sans-serif; 
}

.sideLastCommentsBodySingle {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    color: whitesmoke;
}

.sideRandomPostsAnchor:hover {
    color: #2B823C !important;
    text-decoration: none;
    outline: 0;
}

.sideLastCommentAnchor {
    color: black !important;
    text-decoration: none;
    outline: 0;
}

.sideLastCommentAnchor:hover {
    text-decoration: none;
    outline: 0;
}

.sideLastCommentsBodySingle:hover {
    background-color: #2B823C;
    color: whitesmoke;
}

.sidePostsBody {
    background-color: black;
}

.infoIndexSide {
    font-size: 0.7em !important;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
    transition-delay: 0.6s;
}

.sideArt {
    display: block; 
    width: 100%; 
    height: 4em; 
    padding-bottom: 0.2em; 
    overflow: hidden; 
    position: relative;
    padding-right: 0.5em;
    color: whitesmoke;

    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.sideArt:hover {
    height: 8em;
    width: 100%;
}

.sideArt:hover .sidebarRandomArtImg {
    width: 100%;
}

.sideArt:hover .infoIndexSide {
    opacity: 1;
}

.sideArt:not(:hover) .infoIndexSide {
    visibility: hidden;
}

.sideArt:hover .sidebarRandomArtBody {
    color: #2B823C;
    opacity: 0;
}

.sidebarRandomArtImg {
    float: left; 
    width: 30%; 
    height: 100%; 
    position: relative; 
    overflow: hidden; 
    border: solid 1px #2B823C;

    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.imageOverlayColorSide {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background: rgba(0, 0, 0, 0.6); 
    z-index: 2;
}

.bannerPanelImageContainerSide {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    background-color: black; 
    z-index: 1; 
    overflow: hidden;
}

.bannerPanelImageContainerSide img {
    min-width: 100%; 
    min-height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.bannerPanelImageMainSide {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 3; 
    overflow: hidden; 
    position: absolute; 
    top: 0;
}

.bannerPanelImageMainSide img {
    max-height: 100%; 
    max-width: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.sidebarRandomArtBody {
    top: 0;
    position: absolute;
    right: 0;

    width: 67%; 
    font-size: .8em;
    padding-left: .1em;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.sideGreenLine {
    border: 1px solid #2B823C; 
    background-color: #2B823C; 
    margin: 0; 
    margin-bottom: 0.3em;
}

.sideRandomPostsAnchor {
    color: black !important;
    text-decoration: none;
    outline: 0;
}

.sideSocial {
    margin-bottom: 1em;
}

.recrutation {
    margin: 0 auto;
    text-align: center;
    margin-top: -1em;
    display: none;
}

.recrutation img {
    width: 90% !important;
    text-align: center;
}

.singleComment {
    width: 100%;
    margin: 0 auto;
}

/* FACEBOOK WIDGET */
.fbUserContent{
    background-color: #222 !important;
    color: white;
}

/*SIDE NAVIGATION*/
.navbar {
    margin-bottom: 0 !important;
}

.nav > li > a {
    padding: 0 !important;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}

.nav > li > a:hover > .sideTitle {
    color: white !important
}

.nav-stacked > li + li {
    margin-top: 0 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav > li > a:hover, .nav-list > .active > a,
.nav-list > .active > a:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b823c+0,7db9e8+100&1+0,0+76 */
    background: -moz-linear-gradient(left, rgba(43,130,60,1) 0%, rgba(105,172,191,0) 76%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(43,130,60,1) 0%,rgba(105,172,191,0) 76%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(43,130,60,1) 0%,rgba(105,172,191,0) 76%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b823c', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

.mainNavigatorContainer {
    width: 12em;
    height: 50%;
    
    left: 3px; 
    /*background: rgba(0, 0, 0, 0.3);*/ 
    z-index: 6;

    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}

.mainNavigatorContainerShow {
    top: 50%;
    position: fixed; 
    left: 1em; 
    /*background: rgba(0, 0, 0, 0.3);*/ 
    z-index: 6;
    font-family: 'Eater', sans-serif;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #2b823c;
    display: none;
    cursor: pointer;

    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.mainNavigatorContainerShow h3:hover {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    background-color: rgba(255, 255, 255, 0.6);
}

.mainNavigatorName {
    text-align: center;
    width: 100%;
    color: #2b823c;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'Eater', sans-serif;
}

.mainNavigatorHide {
    cursor: pointer;
}

.mainNavigatorName h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.navigatorMenuItem {
    width: 100%;
    display: block;
    color: whitesmoke;
    overflow: hidden;
    font-size: 1.6em;
    font-family: 'Eater', sans-serif;
    border-radius: 7px;
    padding: 0.2em;
    cursor: pointer;

    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.navigatorMenuItemName {
    padding-left: 0.4em;
}

.navigatorIcon {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.leftArrowSideIcon {
    font-size: 0.9em !important;

    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

/* SIDE LOGGING*/

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}

.mainSideBar .form-control {
    font-size: 12px;
    height: 24px;
}

.LoginSideFormContainer {
    background-color: #222;
    padding-top: 1em;
}

.loginConfirmButton, .registerConfirmButton {
    padding: 0 0.3em 0 !important;  
}

.forgotPasswordLogin {
    font-size: 0.8em;
}

.sideRegisterText, .registerErrorMessageContainer, .loginErrorMessageContainer {
    font-size: .8em !important;
    text-align: center;
}

/* Search bar */
.logoSearch {
    cursor: pointer;
}

.searchBar {
    display: none;
    max-width: 100%;
}

.searchBar input{
    width: 100%;
    font-size: 1.1em;
    border-radius: 15px;
    text-indent: 9px;
    max-width: none !important;
}

.searchBar input, textarea {
    color: #2B823C;
    background-color: #222;
    border: none;
}

.searchResultsContainer {
    display: none;
    width: 30em;
    /*height: 25em;*/
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 6;
    margin-top: 0.3em;
    border-radius: 5px;

    /*border: solid white 1px;*/
}

.searchResultsMore, .searchResultsNoMore{
    display: none;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: whitesmoke;
    text-transform: uppercase;
    cursor: pointer;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.searchResultsMore:hover, .searchResultsNoMore:hover {
    color: #2b823c;
    background-color: aliceblue;
}

.searchResultsElements {
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 3em;
}

/* SEARCH jQuery elements*/
.searchNoResults {
    color: white;
    text-align: center;
    width: 100%;
}

.searchItemAnchor, .searchItemAnchor, .searchItemAnchor:focus, .searchItemAnchor:active {
    outline: 0 !important;
    text-decoration: none !important;
    color: whitesmoke;
}

.searchItemAnchor:hover {
    color: #222;
}

.searchItemAnchor:hover .articlesIndexLine{
    border: 1px solid #2b823c;
}

.searchItemContainer {
    width: 100%;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    height: 6em;
    width: 100%;

    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}

.searchItemContainer:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.searchItemContainer:hover > p{
    color: black !important;
}

.searchItemImageContainer {
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;
}

.searchItemImageContainer img {
    height: 100%;
    width: 100%;
}

.searchItemDetailsContainer {
    float: right;
    width: 79%;
}

.searchItemDetailsName p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*float: left;*/
    text-align: center;
}

.searchItemDetailsTags {
    text-align: center;
    text-transform: none;
}

/* Icons for logo panel*/

.logoComponent {
    text-align: center;
    display: table-cell;
    padding: 0.7em;
}

.logoComponentIcon {
    font-size: 3em;
    text-align: right;
    z-index: 2;
}

.logoLogout {
    cursor: pointer;
}

.logoProfileImageComponent {
    width: 5em !important;
}

.logoProfileImage {
    position: absolute;
    right: -5px;
    z-index: 2;
    width: 30%;
    border-radius: 0 0 0 35px;
    border: 2px solid blanchedalmond;
    overflow: hidden;
    vertical-align: top;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.topLogoLastAnchor {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logoComponentNotificator {
    background-color: crimson;
    color: whitesmoke;
    width: 1em;
    position: absolute;
    z-index: 9;
    font-size: medium;
    border-radius: 5px;
    top: 0;
    right: 0;
    text-align: center;
}

.logoComponentText {
    display: inline-flex;
}

.logoComponentProfileContextMenu {
    z-index: 9;
    text-align: left;
    font-size: small;
    background-color: #222;
    padding-left: 1em;
    padding-right: 1em;
}

.logoComponentProfileContextMenu p {
    margin-bottom: 3px !important;
    margin-top: 3px !important;
}


/*SIDE PROFILE*/
.sideBarProfileComponent {
    height: 60px;
    position: relative;
}

.sideProfileAnchor {
    position: absolute;
    font-size: 1em;
    /*margin-top: 0;
    margin-bottom: 0;*/
    transform: translateY(-50%);
    top: 50%;
    background-color: #2b823c;
}