.sideBar {
    width: 100%; 
    float: right; 
    font-size: 1.6em; 
    font-family: 'Coda', sans-serif; 
    color: #2B823C;
    background-color: #f7f7f7;
}

.sideIntro {
    padding-left: 1em; 
    padding-right: 1em; 
    padding-bottom: 1em; 
    margin-bottom: 1em;
}

.sideIntroBody {
    font-size: 0.7em; 
    color: black; 
    text-align: justify;
}

.sideContact {
    width: 100%; 
    padding-left: 1em; 
    padding-right: 1em; 
    margin-bottom: 1em; 
}

.sideContactTitle {
    text-align: center; 
    padding-bottom: 1em;
    color: black;
    font-size: 1em;
}

.sidePlazlist {
    margin-bottom: 1em; 
    padding-left: 1em; 
    padding-right: 1em;
}

.sideTitle {
    text-align: left;
}

.sidePlazlistTitle {
    font-family: 'Bangers', cursive; 
    text-align: center; 
    margin: 0 auto;
}

.sidePlazlistWidget {
    width: 100%; 
    height: 15em; 
    overflow: hidden;
}

.sideQuote {
    padding-left: 1em; 
    padding-bottom: 1em; 
    padding-right: 1em; 
    margin-bottom: 1em; 
}

.sideQuoteBody {
    font-family: 'Times New Roman', Georgia, Serif; 
    font-size: 0.7em; 
    color: black; 
    padding: 5px; 
    text-align: center;
}

.sideLastComments {
    padding-left: 1em; 
    padding-right: 1em; 
    padding-bottom: 1em; 
    margin-bottom: 1em; 
}

.sideLastCommentsBody {
    font-size: 0.7em; 
    color: black; 
    text-align: justify; 
    font-family: 'Coda', sans-serif; 
    font-size: small;
}

.sideLastCommentsBodySingle {
    display: block;
}

.sideRandomPostsAnchor:hover {
    color: #2B823C !important;
    text-decoration: none;
    outline: 0;
}

.sideLastCommentAnchor {
    color: black !important;
    text-decoration: none;
    outline: 0;
}

.sideLastCommentAnchor:hover {
    text-decoration: none;
    outline: 0;
}

.sideLastCommentsBodySingle:hover {
    background-color: #2B823C;
    color: whitesmoke;
}

.sideRandomPosts {
    padding-left: 1em; 
    padding-right: 1em; 
    padding-bottom: 1em; 
    margin-bottom: 1em; 
    background-color: #f7f7f7;
}

.sidePostsBody {
    padding-top: 1em;
}

.sideArt {
    display: block; 
    width: 100%; 
    height: 4em; 
    padding-bottom: 1em; 
    overflow: hidden; 
    position: relative;
}

.sidebarRandomArtImg {
    float: left; 
    width: 30%; 
    height: 100%; 
    position: relative; 
    overflow: hidden; 
    border: solid 1px #2B823C;
}

.imageOverlayColorSide {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background: rgba(0, 0, 0, 0.6); 
    z-index: 2;
}

.bannerPanelImageContainerSide {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    background-color: black; 
    z-index: 1; 
    overflow: hidden;
}

.bannerPanelImageContainerSide img {
    min-width: 100%; 
    min-height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.bannerPanelImageMainSide {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 3; 
    overflow: hidden; 
    position: absolute; 
    top: 0;
}

.bannerPanelImageMainSide img {
    max-height: 100%; 
    max-width: 100%; 
    text-align: center; 
    margin: 0 auto; 
    z-index: 0; 
    vertical-align: middle;
}

.sidebarRandomArtBody {
    float: right; 
    width: 70%; 
    font-size: 0.6em; 
    padding-left: 0.6em;
}

.sideGreenLine {
    border: 1px solid #2B823C; 
    background-color: #2B823C; 
    margin: 0; 
    margin-bottom: 0.3em;
}

.sideRandomPostsAnchor {
    color: black !important;
    text-decoration: none;
    outline: 0;
}

.sideSocial {
    margin-bottom: 1em;
}