.topMainElementsContainer {
    z-index: 6;
    margin: 0 auto;
    left: 0;
    padding-left: 0;
    padding-right: 0 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background-color: black;
    position: fixed;
}

.topMainElementsContainer:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.logoSection {
    padding-left: 0; 
    padding-right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 6;
}

.logo img {
    float: left; 
    width: 11%; 
    height: auto; 
    text-align: center;
    cursor: pointer;
    margin-left: 1em;
    margin-top: 0.2em;
}

.rightLogoPanel {
    float: right;
    font-family: 'Coda', sans-serif;
    width: auto;

    display: none;
}

.logoMenu {
    width: 100%; 
    text-align: right;
    display: table;
}

/* Icons for logo panel*/

.logoComponent {
    text-align: center;
    display: table-cell;
    padding: 0.7em;
}

.logoComponentIcon {
    font-size: 3em;
}

.logoLogout {
    cursor: pointer;
}

.logoProfileImageComponent {
    width: 5em !important;
}

.logoProfileImageComponent:hover .logoProfileImage {
    border: 2px solid #2B823C;
}

.logoProfileImage {
    width: 100%;
    border-radius: 35px;
    margin-top: -0.5em;
    border: 2px solid blanchedalmond;
    overflow: hidden;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.topLogoLastAnchor {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logoComponentNotificator {
    background-color: crimson;
    color: whitesmoke;
    width: 1em;
    position: absolute;
    z-index: 9;
    font-size: medium;
    border-radius: 5px;
    top: 0;
}

.logoComponentText {
    display: inline-flex;
}

.logoComponentProfileContextMenu {
    position: absolute;
    z-index: 9;
    text-align: left;
    font-size: small;
    background-color: #222;
    padding-left: 1em;
    padding-right: 1em;
    right: 0;

    display: none;
}

.logoComponentProfileContextMenu p {
    margin-bottom: 3px !important;
    margin-top: 3px !important;
}