.logoSection {
    padding-left: 0; 
    padding-right: 0;
    background-color: black;
}

.logo img {
    float: left; 
    width: 35%; 
    height: auto; 
    text-align: center;
    cursor: pointer;
}

.rightLogoPanel {
    float: right;
    font-family: 'Coda', sans-serif;
    width: auto;
}

.logoMenu {
    width: 100%; 
    text-align: right;
    display: table;
}

/* Icons for logo panel*/

.logoComponent {
    text-align: center;
    display: table-cell;
    padding: 0.7em;
}

.logoComponentIcon {
    font-size: 3em;
}

.logoLogout {
    cursor: pointer;
}
